<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="conStr" connectionString="Data Source=f836724c-2b2a-49ae-8dc9-a75e00fc2864.sqlserver.sequelizer.com;User ID=bvlnykdiuzvpozij;Password=MWoEhtm2Bce7KxXhMY6HKjXEFcUupzuVZHbtfRbSMHc5tjQygR6R7TUB8R7eGYKc"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <httpRuntime requestValidationMode="2.0" executionTimeout="100000" maxRequestLength="214748364" />
 <customErrors mode="Off"/>
    <authentication mode="Forms">
      
      <forms defaultUrl="~/Default.aspx" loginUrl="~/Login.aspx" slidingExpiration="false" timeout="20"></forms>
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>